<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.2/phpunit.xsd" bootstrap="vendor/autoload.php" beStrictAboutOutputDuringTests="true" cacheResult="false" failOnRisky="true" failOnWarning="true" failOnEmptyTestSuite="true" colors="true" cacheDirectory=".phpunit.cache">
  <coverage pathCoverage="true">
    <report>
      <clover outputFile="build/coverage.xml"/>
      <text outputFile="build/coverage.txt"/>
    </report>
  </coverage>
  <testsuites>
    <testsuite name="Unit">
      <directory>tests/Unit</directory>
    </testsuite>
    <testsuite name="Integration">
      <directory>tests/Integration</directory>
    </testsuite>
  </testsuites>
  <php>
    <ini name="error_reporting" value="E_ALL"/>
    <ini name="display_errors" value="1"/>
    <ini name="display_startup_errors" value="1"/>
    <env name="APP_ENV" value="testing"/>
    <env name="CACHE_DRIVER" value="array"/>
  </php>
  <logging/>
  <source ignoreIndirectDeprecations="true" restrictNotices="true" restrictWarnings="true">
    <!--  https://docs.phpunit.de/en/11.5/error-handling.html#limiting-issues-to-your-code-->
    <include>
      <directory suffix=".php">src/</directory>
    </include>
  </source>
</phpunit>
